{% extends 'base.html' %}

{% block title %}
登录聊天室
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ static_url('chat/css/chat.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ static_url('layui/css/layui.css') }}"/>
{% end %}

{% block js %}
<script src="{{ static_url('jquery/jquery-3.5.1.min.js') }}"></script>
{% end %}

{% block content %}
<div class="layui-container">  
    <div class="layui-row" style="margin-top: 15%;margin-left: 15%;">
  
        <form class="layui-form" method="POST" action="/login/" >
            <div class="layui-form-item">
                <div class="layui-form-mid layui-word-aux">
                {% if error %}
                    {{ error }}
                {% end %}
                </div>
            </div>
            <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required  lay-verify="required" placeholder="请输入标账号" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
            </div>
            <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
            </div>
            </div>
            <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" type="submit" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
            <div class="layui-form-mid layui-word-aux">辅助文字</div>
            </div>
        </form>
    </div>
</div>

{% end %}


{% block script %}


<script src="{{ static_url('layui/layui.all.js') }}"></script>
<script src="{{ static_url('layui/lay/modules/form.js') }}"></script>

<script>

    layui.use(['layer', 'form'], function(){
      var layer = layui.layer
      ,form = layui.form;
      
    });
    </script> 
{% end %}